.container {
  display: flex;
  height: 500px;
  

  
}

.container>* {
  margin: 0 10px;
  flex: 1;
  
  
}
nav{
  height: 70px;
  justify-content: space-around;
  padding-left: 850px;
}
a{
 display: inline ;
 font-family: 'Times New Roman', Times, serif;
 margin: 35px;
 text-decoration: none;
 color: #0079cc;
 height: 400px;
 width: 464px;
    
}
ul{
 
  text-align: center;
}
body{
  height: 1200px;
  width: auto;
  margin: 0%;
}
p {
  background-color: #0079cc ;
  padding: 2rem;
  opacity: 0.6;
  height: 400px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center; 
  border-radius: 10px;
  text-align: justify;
  
  
}
footer{
  bottom: -284px;
  background-color: whitesmoke;
  text-align: center;
  padding: 15px;
  height: auto;
  background-color: #0079cc ;
  color: white;
  position: absolute;
  width: 100%;

  
  
}
.imagefond{
  background-image: url(image/1.jpg);
  -webkit-background-size: cover; 
  moz-background-size: cover;
  -o-background-size: cover;
  height: 100%;
  width: auto;
  background-repeat: no-repeat;   
  background-size: cover; 
  background-position: center;
  padding-top: 20px;
}
.imagefond2{
  background-image: url(image/2.jpg);
  -webkit-background-size: cover; 
  moz-background-size: cover;
  -o-background-size: cover;
  height: 100%;
  width: auto;
  background-repeat: no-repeat;   
  background-size: cover; 
  background-position: center;
  padding-top: 20px;
}
.imagefond3{
  background-image: url(image/3.jpg);
  -webkit-background-size: cover; 
  moz-background-size: cover;
  -o-background-size: cover;
  height: 100%;
  width: auto;
  background-repeat: no-repeat;   
  background-size: cover; 
  background-position: center;
  padding-top: 20px;  
}
.imagefond4{
  background-image: url(image/4.jpg);
  -webkit-background-size: cover; 
  moz-background-size: cover;
  -o-background-size: cover;
  height: 100%;
  width: auto;
  background-repeat: no-repeat;   
  background-size: cover; 
  background-position: center;
  padding-top: 20px;  
  
}
img{
  width: 330px;
  

}

.block {

    background-color: #0079cc ;
    padding: 5rem;
    opacity: 0.6;
    height: 1000px;
    color: white;
    display: block;
    justify-content: center;
    align-items: center; 
    
}
#footer1 {
  height: 1%;
  bottom: -323px;
  position: absolute;
  width: 100%;

  
 
}

.block1 {

  background-color: #0079cc ;
  padding: 5rem;
  opacity: 0.7;
  height: 700px;
  color: white;
  display: block;
  justify-content: center;
  align-items: center center; 
  width: 350px;
  position: absolute;
  border-radius: 10px;
  left: 0;
  
}
.block2 {

  background-color: #0079cc ;
  padding: 5rem;
  opacity: 0.7;
  height: 700px;
  color: white;
  display: block;
  justify-content: center;
  align-items: center; 
  width: 350px;
  position: absolute;
  margin-left: 220px;
  border-radius: 10px;
  right: 0;
  
  
}
p img {
  height: 230px;
  width: 330px;
}
html {
  height: 100%;
  width: 100% ;
}
.imgtail {
  height: 116px;
  width: 300px ;
}
.block3 {
  background-color: #0079cc ;
  opacity: 0.7;
  height: 850px;
  color: white;
  display: block;
  justify-content: center;
  width: 350px;
  position: absolute;
  text-align: left;
  margin-bottom: auto;
  margin-top: auto;
  margin-left: 25px;
  
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}
.block4 {
  background-color: #0079cc ;
  opacity: 0.6;
  height: 650px;
  color: white;
  display: block;
  justify-content: center;
  width: 350px;
  position: absolute;
  text-align: left;
  margin-bottom: auto;
  margin-top: auto;
  margin-left: 25px;

  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.container1 {
  display: flex;
  height: 500px;
  padding: 1rem;
}

.container1>* {
  margin: 0 10px;
  flex: 1;
  
}
.font {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}
section {
  display: flex;
  justify-content: space-around;
}
#footer3 em{
  bottom: 0;
  background-position: bottom;
  
}